###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/public/images
/public/js/fos_js_routes.js

/public/temp

#docker
.docker/

*.bak
zip/
data/
stag/
.editorconfig
shared

.castor.stub.php
.DS_Store
.env.prod
config.bat
node_modules

# dev-3.0 local config
.dev3/config.local.json
